In [20]:
%pip install composeml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: composeml in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (0.10.1)
Requirement already satisfied: seaborn>=0.11.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from composeml) (0.12.1)
Requirement already satisfied: matplotlib>=3.3.3 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from composeml) (3.6.2)
Requirement already satisfied: pandas>=1.3.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from composeml) (1.5.2)
Requirement already satisfied: tqdm>=4.32.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from composeml) (4.64.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (1.0.6)
Requirement already satisfied: fonttools>=4.22.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (4.38.0)
Requirement already satisfied: numpy>=1.19 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from matplotlib>=3.3.3->composeml) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /Users/sudachk/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->composeml) (2022.6)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.3.3->composeml) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [34]:
import composeml as cp

df = cp.demos.load_transactions()

df[df.columns[:7]].head()

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop
1,10,1,2014-01-01 00:09:45,5,57.39,2,desktop
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop
3,460,10,2014-01-01 02:33:50,5,123.19,2,tablet
4,302,10,2014-01-01 02:37:05,5,64.47,2,tablet

In [35]:
df1=df[df.columns[:7]].head()
df1

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device
0,298,1,2014-01-01 00:00:00,5,127.64,2,desktop
1,10,1,2014-01-01 00:09:45,5,57.39,2,desktop
2,495,1,2014-01-01 00:14:05,5,69.45,2,desktop
3,460,10,2014-01-01 02:33:50,5,123.19,2,tablet
4,302,10,2014-01-01 02:37:05,5,64.47,2,tablet

In [44]:
def total_spent(df1):
    total = df1['amount'].sum()
    return total

In [45]:
label_maker = cp.LabelMaker(
    target_dataframe_index="customer_id",
    time_index="transaction_time",
    labeling_function=total_spent,
    window_size="1h",
)

In [50]:
labels = label_maker.search(
    df1.sort_values('transaction_time'),
    num_examples_per_instance=-1,
    gap=1,
    verbose=True,
)

labels.head()

Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|██████████| customer_id: 1/1

   customer_id                time  total_spent
0            2 2014-01-01 00:00:00       254.48
1            2 2014-01-01 00:09:45       126.84
2            2 2014-01-01 00:14:05        69.45
3            2 2014-01-01 02:33:50       187.66
4            2 2014-01-01 02:37:05        64.47

In [51]:

#We can transform the labels by applying threshold to binary labels as follows. 

labels = labels.threshold(200) 

labels.head()

   customer_id                time  total_spent
0            2 2014-01-01 00:00:00         True
1            2 2014-01-01 00:09:45        False
2            2 2014-01-01 00:14:05        False
3            2 2014-01-01 02:33:50        False
4            2 2014-01-01 02:37:05        False

In [52]:
labels = labels.apply_lead('1h')

labels.head()

   customer_id                time  total_spent
0            2 2013-12-31 23:00:00         True
1            2 2013-12-31 23:09:45        False
2            2 2013-12-31 23:14:05        False
3            2 2014-01-01 01:33:50        False
4            2 2014-01-01 01:37:05        False