In [461]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer
from sklearn.ensemble import RandomForestClassifier

In [462]:
df = pd.read_csv("/Users/sudachk/PacktPublishing/datasets/heart_failure_dataset.csv")

In [463]:
df.shape

(299, 13)

In [464]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [465]:
df.head

<bound method NDFrame.head of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [466]:
training = df.loc[1:100,:]

In [467]:
df.shape

(299, 13)

In [468]:
testing = df.loc[101:,:]

In [469]:
testing.shape

(198, 13)

In [470]:
testing.head

<bound method NDFrame.head of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
101  75.0        0                       582         0                 45
102  80.0        0                       898         0                 25
103  42.0        0                      5209         0                 30
104  60.0        0                        53         0                 50
105  72.0        1                       328         0                 30
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
101                    1  263358.03              1.18           137    1
102                    0  149000.00              1.10           144    1
103                    0  226000.00              1.00           140    1
104                    1  286000.00              2.30           143    0
105                    1  621000.00              1.70           138    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00              1.10           143    1
295                    0  270000.00              1.20           139    0
296                    0  742000.00              0.80           138    0
297                    0  140000.00              1.40           140    1
298                    0  395000.00              1.60           136    1

     smoking  time  DEATH_EVENT
101        0    87            0
102        1    87            0
103        1    87            0
104        0    87            0
105        1    88            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[198 rows x 13 columns]>

In [471]:
training.shape

(100, 13)

In [472]:
training.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [473]:
from sklearn.model_selection import train_test_split

x = training.drop('DEATH_EVENT', axis=1)
y = training.DEATH_EVENT

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.8, random_state=21)

In [474]:
x_train.shape,y_train.shape,x_test.shape

((20, 12), (20,), (80, 12))

In [475]:
#Model Creation and fitting the data containing labels

model1 = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)

In [476]:
model1.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [477]:
# assuming only 20% training data with labels available, 
# the model score is 0.95
model1.score(x_train,y_train)

0.95

In [478]:
testing.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
101,75.0,0,582,0,45,1,263358.03,1.18,137,1,0,87,0
102,80.0,0,898,0,25,0,149000.00,1.10,144,1,1,87,0
103,42.0,0,5209,0,30,0,226000.00,1.00,140,1,1,87,0
104,60.0,0,53,0,50,1,286000.00,2.30,143,0,0,87,0
105,72.0,1,328,0,30,1,621000.00,1.70,138,0,1,88,1

In [479]:
testing.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [480]:
# we are assuming there is only small set of labeled data for training 
# and so we are dropping the labels for majority of data i.e 80% test data
x_test=testing.drop('DEATH_EVENT',axis=1)

In [481]:
x_test.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'],
      dtype='object')

In [482]:
# geenrating pueudo labels for test data(80% of total data)
y_new = model1.predict(x_test)
y_new.shape

(198,)

In [483]:
y_new

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [484]:
#Add the pseudo-labels to the test set

pseudo_data = x_test.copy(deep=True)
pseudo_data['DEATH_EVENT'] = y_new

In [485]:
pseudo_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
101,75.0,0,582,0,45,1,263358.03,1.18,137,1,0,87,0
102,80.0,0,898,0,25,0,149000.00,1.10,144,1,1,87,1
103,42.0,0,5209,0,30,0,226000.00,1.00,140,1,1,87,0
104,60.0,0,53,0,50,1,286000.00,2.30,143,0,0,87,0
105,72.0,1,328,0,30,1,621000.00,1.70,138,0,1,88,1

In [486]:
pseudo_data.shape

(198, 13)

In [487]:
# Take a subset of the test set with pseudo-labels and append in onto
# the training set
from sklearn.utils import shuffle
sampled_pseudo_data = pseudo_data.sample(n=150)
temp_train = pd.concat([x, y], axis=1)
augemented_train = pd.concat([sampled_pseudo_data, temp_train])
shuffle(augemented_train)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
28,58.0,1,60,0,38,0,153000.00,5.80,134,1,0,26,1
39,60.0,0,235,1,38,0,329000.00,3.00,142,0,0,30,1
184,58.0,1,145,0,25,0,219000.00,1.20,137,1,1,170,1
24,75.0,0,582,1,30,1,263358.03,1.83,134,0,0,23,1
160,66.0,1,72,0,40,1,242000.00,1.20,134,1,0,121,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,70.0,0,66,1,45,0,249000.00,0.80,136,1,1,80,0
267,56.0,1,135,1,38,0,133000.00,1.70,140,1,0,244,0
33,50.0,1,159,1,30,0,302000.00,1.20,138,0,0,29,0
42,70.0,0,571,1,45,1,185000.00,1.20,139,1,1,33,1
183,75.0,0,99,0,38,1,224000.00,2.50,134,1,0,162,1

In [488]:
augemented_train.shape

(250, 13)

In [489]:
augemented_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
203,60.0,0,59,0,25,1,212000.0,3.5,136,1,1,187,1
204,78.0,1,64,0,40,0,277000.0,0.7,137,1,1,187,1
223,47.0,0,582,0,25,0,130000.0,0.8,134,1,0,201,0
218,68.0,1,1021,1,35,0,271000.0,1.1,134,1,0,197,0
285,55.0,1,170,1,40,0,336000.0,1.2,135,1,0,250,0

In [490]:
x = augemented_train.drop('DEATH_EVENT', axis=1)
y = augemented_train.DEATH_EVENT

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [491]:
#this model is with augmented data
model1.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [492]:

model1.score(x_train,y_train)

0.9828571428571429