In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer
from sklearn.ensemble import RandomForestClassifier

In [16]:
df = pd.read_csv("/Users/sudachk/PacktPublishing/datasets/heart_failure_dataset.csv")

In [17]:
df.shape

(299, 13)

In [18]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [19]:
df.head

<bound method NDFrame.head of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [20]:
training = df.loc[1:100,:]

In [21]:
df.shape

(299, 13)

In [22]:
testing = df.loc[101:,:]

In [23]:
testing.shape

(198, 13)

In [24]:
testing.head

<bound method NDFrame.head of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
101  75.0        0                       582         0                 45
102  80.0        0                       898         0                 25
103  42.0        0                      5209         0                 30
104  60.0        0                        53         0                 50
105  72.0        1                       328         0                 30
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
101                    1  263358.03              1.18           137    1
102                    0  149000.00              1.10           144    1
103                    0  226000.00              1.00           140    1
104                    1  286000.00              2.30           143    0
105                    1  621000.00              1.70           138    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00              1.10           143    1
295                    0  270000.00              1.20           139    0
296                    0  742000.00              0.80           138    0
297                    0  140000.00              1.40           140    1
298                    0  395000.00              1.60           136    1

     smoking  time  DEATH_EVENT
101        0    87            0
102        1    87            0
103        1    87            0
104        0    87            0
105        1    88            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[198 rows x 13 columns]>

In [25]:
training.shape

(100, 13)

In [26]:
training.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [27]:
from sklearn.model_selection import train_test_split

x = training.drop('DEATH_EVENT', axis=1)
y = training.DEATH_EVENT

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [28]:
x_train.shape,y_train.shape,x_test.shape

((70, 12), (70,), (30, 12))

In [29]:
#Model Creation and fitting the data containing labels

model1 = RandomForestClassifier()

In [30]:
model1.fit(x_train,y_train)

RandomForestClassifier()

In [31]:
model1.score(x_train,y_train)

1.0

In [32]:
testing.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
101,75.0,0,582,0,45,1,263358.03,1.18,137,1,0,87,0
102,80.0,0,898,0,25,0,149000.00,1.10,144,1,1,87,0
103,42.0,0,5209,0,30,0,226000.00,1.00,140,1,1,87,0
104,60.0,0,53,0,50,1,286000.00,2.30,143,0,0,87,0
105,72.0,1,328,0,30,1,621000.00,1.70,138,0,1,88,1

In [33]:
testing.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [34]:
x_test=testing.drop('DEATH_EVENT',axis=1)

In [35]:
x_test.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time'],
      dtype='object')

In [36]:
y_new = model1.predict(x_test)
y_new.shape

(198,)

In [37]:
y_new

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [38]:
#Add the pseudo-labels to the test set

pseudo_data = x_test.copy(deep=True)
pseudo_data['DEATH_EVENT'] = y_new

In [39]:
pseudo_data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
101,75.0,0,582,0,45,1,263358.03,1.18,137,1,0,87,0
102,80.0,0,898,0,25,0,149000.00,1.10,144,1,1,87,0
103,42.0,0,5209,0,30,0,226000.00,1.00,140,1,1,87,0
104,60.0,0,53,0,50,1,286000.00,2.30,143,0,0,87,0
105,72.0,1,328,0,30,1,621000.00,1.70,138,0,1,88,0

In [40]:
pseudo_data.shape

(198, 13)

In [44]:
# Take a subset of the test set with pseudo-labels and append in onto
# the training set
from sklearn.utils import shuffle
sampled_pseudo_data = pseudo_data.sample(n=150)
temp_train = pd.concat([x, y], axis=1)
augemented_train = pd.concat([sampled_pseudo_data, temp_train])
shuffle(augemented_train)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
77,42.0,0,102,1,40,0,237000.0,1.2,140,1,0,74,0
128,61.0,0,248,0,30,1,267000.0,0.7,136,1,1,104,0
98,60.0,1,156,1,25,1,318000.0,1.2,137,0,0,85,0
181,59.0,1,176,1,25,0,221000.0,1.0,136,1,1,150,0
13,50.0,1,168,0,38,1,276000.0,1.1,137,1,0,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,75.0,0,99,0,38,1,224000.0,2.5,134,1,0,162,0
159,59.0,1,129,0,45,1,362000.0,1.1,139,1,1,121,0
125,43.0,1,358,0,50,0,237000.0,1.3,135,0,0,97,0
110,85.0,0,129,0,60,0,306000.0,1.2,132,1,1,90,0
127,58.0,1,200,1,60,0,300000.0,0.8,137,0,0,104,0

In [42]:
augemented_train.shape

(250, 13)

In [45]:
augemented_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
282,42.0,0,64,0,30,0,215000.0,3.8,128,1,1,250,1
175,60.0,1,95,0,60,0,337000.0,1.0,138,1,1,146,0
210,70.0,0,212,1,17,1,389000.0,1.0,136,1,1,188,0
186,50.0,0,582,0,50,0,153000.0,0.6,134,0,0,172,0
117,85.0,1,102,0,60,0,507000.0,3.2,138,0,0,94,0

In [46]:
x = augemented_train.drop('DEATH_EVENT', axis=1)
y = augemented_train.DEATH_EVENT

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [49]:
from sklearn.ensemble import RandomForestRegressor

In [52]:
model2 = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',

        max_depth=None, max_features='auto', max_leaf_nodes=None,

        max_samples=None, min_impurity_decrease=0.0,

        min_samples_leaf=1,

        min_samples_split=2, min_weight_fraction_leaf=0.0,

         n_estimators=100, n_jobs=None, oob_score=False,

         random_state=None, verbose=0, warm_start=False)

In [53]:
model2.fit(x_train,y_train)

/Users/sudachk/Library/Python/3.9/lib/python/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(
/Users/sudachk/Library/Python/3.9/lib/python/site-packages/sklearn/ensemble/_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

RandomForestRegressor(criterion='mse', max_features='auto')

In [54]:
model1.score(x_train,y_train)

1.0